<app-navbar></app-navbar>
<div align="center">
    <h1>User Registration</h1>
    <h3>
        <font color="green">{{form.message}}</font>
    </h3>
    <table>
        <tr>
            <th>FirstName:</th>
            <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName"></td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName"></td>
        </tr>
        <tr>
            <th>LoginId:</th>
            <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId"></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="text" name="password" [(ngModel)]="form.data.password"></td>
        </tr>
        <tr>
            <th>Dob:</th>
            <td ><input type="date" name="dob" [(ngModel)]="form.data.dob"></td>
        </tr>
        <tr>
            <th>Address:</th>
            <td><input type="text" name="address" [(ngModel)]="form.data.address"></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button (click)="save()">signUp</button>
            </td>
        </tr>
    </table>
</div>
